<section class="about-section">
    <div class="wrapper page">
        <article class="swingin">
            <h2>Wer ich bin?</h2>
            <p>
                Hallo, mein Name ist Daniel Cunningham, 30 Jahre jung und komme aus dem Hessischen Flörsheim am Main. Hauptberuflich bin ich aus leidenschaft, stellvertretender Marktleiter eines Lebensmittel Discounters. Mit 13 Jahren (2003) habe ich mein Hobby als Webdesigner entdeckt und lehre mir die Technik selbst. Von beginn an, habe ich alles mögliche hinter Internetseiten / Webseiten hinterfragt und habe mir so mit Hilfe von zahlreichen Tutorials und Dokumentationen, sämtliches Wissen angeeignet.
            </p>
            <p>
                <a href="{{ site.baseurl }}/about" class="btn primary">Erfahren Sie mehr</a>
            </p>
        </article>
    </div>
</section>