<section class="contact-section">
    <div class="wrapper page">
        <article class="slidein">
            <h2>Kontaktieren Sie mich</h2>
            <p>Aufgrund fehlender Zeit, kann ich derzeit nur den Kontakt über E-Mail anbieten. Ich arbeite dennoch an weiteren Kontaktmöglichkeiten.</p>
            <p>Schreiben Sie mir einfach eine E-Mail an <a href="mailto:{{site.email}}">{{site.email}}</a>. Ich werde mich schnellstmöglich bei Ihnen melden!</p>
            <p>Mit Gruß <br />
            Daniel Cunningham</p>
        </article>
    </div>
</section>