<section class="landing-section">
    <div class="wrapper">
        <article class="welcome-text">
            <h1 class="welcome-title">Webdesign, eCommerce und Online-Marketing</h1>
            <p class="welcome-content">
                Mein name ist Daniel Cunningham alias NxtLevelMedia und dies ist mein Portfolio. Herzlich Willkommen!
            </p>
            <p class="welcome-cta">
                <a href="/about" class="btn primary">Mehr erfahren</a>
                <a href="/works" class="btn secondary">Meine Projekte</a>
            </p>
        </article>
    </div>
</section>